<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information du patient</h3>
  </div>
  <div class="panel-body">
    <formio-submission submission="patient.resource" form="patient.form"></formio-submission>
    <formio-grid ng-if="kneeInterventionForm.url" src="kneeInterventionForm.url" query="submissionQuery" columns="submissionColumns"></formio-grid>
    <br>
    <a ui-sref="patient.form.view({formId: kneeInterventionForm._id})" class="btn btn-primary" ng-if="isReady && hasAccess('kneeIntervention', 'create_own')">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouvelle intervention genou  
    </a>
  </div>
</div>
